@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@font-face {
	font-family: Avenir Light;
	src: url('../fonts/Avenir-Light.ttf');
}

@font-face {
	font-family: AvenirNext Bold;
	src: url('../fonts/AvenirNext-Bold.ttf');
}

@font-face {
	font-family: Writer;
	src: url('../fonts/typew.otf');
}

body {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #f5f5f5;
}

#menu {
	height: 2em;
	padding: 0.5em;
	font-size: 3.5em;
	line-height: 2em;
	background-color: #fff;
	color: #000;
	border: none;
}

#logo {
	float: left;
	display: inline-block;
}

#logo img {
	height: 1.8em;
	padding: 0.1em 0 0.1em 0.5em;
	margin-left: 0;
	background-color: #fff;
	border-radius: 3px;
	image-rendering: -webkit-optimize-contrast;
}

#ham-toggle {
	display: inline-block;
	float: right;
	padding-right: 0.5em;
}

#ham-toggle:hover {
	color: #ff0909;
	cursor: pointer;
}

#banner {
	background-image: url('https://s3.amazonaws.com/content.sitezoogle.com/u/190141/4dfbdf7e466977c70a2b31ce5fc213504fc443a6/original/11043387-924552384244456-5038302486444025151-o.jpg?1452809339');
	background-position: top center;
	background-size: cover;
	height: 75vh;
	width: 100%;
	display: block;
  	position: relative;
}

#b-underlay {
	font-size: 4em;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 25vh;
	color: transparent;
	z-index: 9;
	position: absolute;
	text-align: center;
	font-family: Writer;
	background-color: #000;
	padding: 0.75em;
	opacity: 0.7;
}

#b-title {
	font-size: 4em;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 25vh;
	color: #fff;
	z-index: 10;
	position: absolute;
	text-align: center;
	font-family: Writer;
	text-shadow: 0px 0px 15px #000;
	padding: 0.7em;
}

#b-sub {
	font-size: 0.75em;
}

#overlay {
	height: 75vh;
	width: 100%;
	background-image: url("../img/overlay.png");
	opacity: 0.4;
    top: 0;
    left: 0;
    position: absolute;
}

#first {
	width: 70%;
	background-color: #fff;
	margin: 9em auto 9em auto;
	padding: 0 5em 2em 5em;
}

p.article {
	font-size: 1.5em;
	font-family: Avenir Light;
	text-align: center;
}

#section-title {
	text-align: center;
	font-size: 4em;
	padding: 1em;
	font-family: AvenirNext Bold;
	font-weight: 700;
}

footer {
	height: 5em;
	padding: 0.5em;
	font-size: 3.5em;
	line-height: 2em;
	background-color: #292929;
	color: #a8a8a8;
	border: none;
	margin: 0;
	font-family: Avenir Light;
}

footer img {
	width: 2.5em;
	margin-left: 2em;
	margin-top: 1.2em;
	margin-bottom: 0;
	padding: 0;
	image-rendering: -webkit-optimize-contrast
}

p.footer {
	width: 25vw;
	margin-left: 7em;
	font-size: 0.3em;
	line-height: 1em !important;
	padding: 0;
	margin-top: -1em;
	font-weight: 100;
}


/* Mobile */
@media screen and (max-width: 736px) {
	#menu {
		height: 1em;
		padding: 0.2em;
		font-size: 3.5em;
		line-height: 1em;
		background-color: #fff;
		color: #000;
		border: none;
	}

	.logo {
    	content:url("../img/logo.png");
  	}
	
	#logo {
		float: left;
		display: inline-block;
		position: absolute;
		z-index: 11;
	}
	
	#logo img {
		height: 3em;
		padding: 0 0.2em 0.2em 0.2em;
		margin-left: 0;
		background-color: #fff;
		border-radius: 3px;
		image-rendering: -webkit-optimize-contrast;
	}

	#ham-toggle {
		display: inline-block;
		float: right;
		padding-right: 0.2em !important;
	}

	#banner {
		height: 60vh;
		width: 100%;
		display: block;
  		position: relative;
	}

	#b-underlay {
		font-size: 2em;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 25vh;
		color: transparent;
		z-index: 9;
		position: absolute;
		text-align: center;
		font-family: Writer;
		background-color: #000;
		opacity: 0.7;
		padding: 1em 0 1em 0;
	}

	#b-title {
		font-size: 2em;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 25vh;
		color: #fff;
		z-index: 10;
		position: absolute;
		text-align: center;
		font-family: Writer;
		text-shadow: 0px 0px 15px #000;
		padding: 1em 0 1em 0;
	}
	
	#b-sub {
		font-size: 0.75em;
	}

	#overlay {
		height: 60vh;
		width: 100%;
		background-image: url("../img/overlay.png");
		opacity: 0.4;
    	top: 0;
    	left: 0;
    	position: absolute;
	}

	#first {
		width: 70vw;
		background-color: #fff;
		margin: 5vw auto 5vw auto;
		padding: 0 10vw 5vw 10vw;
	}

	#section-title {
		text-align: center;
		font-size: 2em;
		padding: 1em 0 0.5em 0;
		font-family: AvenirNext Bold;
		font-weight: 700;
	}

	p.article {
		font-size: 1em;
		font-family: Avenir Light;
		text-align: center;
	}

	footer {
		height: 5em;
		padding: 0;
		font-size: 2.5em;
		line-height: 2.5em;
		background-color: #292929;
		color: #a8a8a8;
		border: none;
		margin: 0;
		font-family: Avenir Light;
	}

	footer img {
		height: 1em;
		margin-left: 20px;
		margin-top: 1.2em;
		margin-bottom: 0;
		padding: 0;
		image-rendering: -webkit-optimize-contrast
	}

	p.footer {
		width: 90vw;
		font-size: 0.3em;
		line-height: 1em !important;
		margin-left: 20px;
		padding: 0;
		margin-top: -2em;
		font-weight: 100;
	}
}