@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@font-face {
	font-family: Avenir Light;
	src: url('../fonts/Avenir-Light.ttf');
}

@font-face {
	font-family: AvenirNext Bold;
	src: url('../fonts/AvenirNext-Bold.ttf');
}

@font-face {
	font-family: Writer;
	src: url('../fonts/typew.otf');
}

body {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #f5f5f5;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ebebeb;
}

a {
	text-decoration: none;
	color: inherit;
}

#bar {
	height: 2em;
	padding: 0.5em;
	font-size: 3.5em;
	line-height: 2em;
	background-color: #fff;
	color: #000;
	border: none;
}

#menu {
	width: 100%;
	background-color: #292929;
	text-align: center;
	padding-bottom: 10px;
	display: none;
}

#logo {
	float: left;
	display: inline-block;
}

#logo img {
	height: 1.8em;
	padding: 0.1em 0 0.1em 0.5em;
	margin-left: 0;
	background-color: #fff;
	image-rendering: -webkit-optimize-contrast;
}

#ham-toggle {
	display: inline-block;
	float: right;
	padding-right: 0.5em;
}

#ham-toggle:hover {
	color: #ff0909;
	cursor: pointer;
}

#banner {
	background-image: url('https://s3.amazonaws.com/content.sitezoogle.com/u/190141/4dfbdf7e466977c70a2b31ce5fc213504fc443a6/original/11043387-924552384244456-5038302486444025151-o.jpg?1452809339');
	background-position: top center;
	background-size: cover;
	height: 75vh;
	width: 100%;
	display: block;
  	position: relative;
}

#b-underlay {
	font-size: 4em;
    width: 52%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 17vh;
    color: transparent;
    z-index: 9;
    position: absolute;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    background-color: #000;
    padding: 1.4em;
    opacity: 0.7;
}

#b-underlay #read {
	visibility: hidden;
}

#read {
	font-family: AvenirNext Bold;
	background-color: #ff0909;
	font-size: 0.3em;
	padding: 10px 20px 10px 20px;
	line-height: 0.3em;
	text-shadow: none;
}

#read:hover {
	cursor: pointer;
}

#b-title {
	font-size: 4em;
    width: 52%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 17vh;
    color: #fff;
    z-index: 10;
    position: absolute;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-shadow: 0px 0px 15px #000;
    padding: 1.4em;
}

#b-sub {
	font-size: 0.75em;
}

#overlay {
	height: 75vh;
	width: 100%;
	background-image: url("../img/overlay.png");
	opacity: 0.4;
    top: 0;
    left: 0;
    position: absolute;
}

#first {
	width: 70%;
	background-color: #fff;
	margin: 9em auto 9em auto;
	padding: 0 5em 5em 5em;
}

#first img {
	max-width: 100%;
    margin: auto auto;
    display: block;
}

p.article {
	font-size: 1.5em;
	font-family: Avenir Light;
	text-align: center;
}

#article-page {
	width: 70%;
	background-color: #fff;
	margin: 9em auto 9em auto;
	padding: 0 5em 5em 5em;
}

#section-title {
	text-align: center;
	font-size: 4em;
	padding: 1em 0 0.5em 0;
	font-family: AvenirNext Bold;
	font-weight: 700;
}

#article-title {
	text-align: left;
	font-size: 4em;
	padding: 1em 0 0.5em 0;
	font-family: AvenirNext Bold;
	font-weight: 700;
}

#twit_share {
	height: 40px;
	width: 150px;
	background-color: #598dca;
	line-height: 40px;
	float: left;
	display: inline-block;
}

#twit_share span {
	padding-left: 9px;
	color: #fff;
}

#twit_share img {
	display: inline-block;
	float: right;
	padding: 9px 15px 9px 0;
}

span.share_text {
	display: inline-block;
	float: left;
}

#fb-share-button {
	height: 40px;
	width: 150px;
	background-color: #3a589b;
	line-height: 40px;
	float: left;
	display: inline-block;
	margin-left: 20px;
}

#fb-share-button span {
	padding-left: 20px;
	color: #fff;
}

#fb-share-button img {
	display: inline-block;
	float: right;
	margin: 9px 15px 9px 0;
	line-height: 40px;
	vertical-align: middle;
}

#article-image img {
	text-align: left;
	max-width: 100%;
	display: block;
}

#author {
	padding-bottom: 2em;
}

#author-info {
	display: inline-block;
	vertical-align: top;
	margin: 9px 0 0 10px;
}

#image-credit {
	font-size: smaller;
	color: #aaa;
	font-style: italic;
	text-decoration: underline;
}

#article-content {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: larger;
	color: #4a4a4a;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	background-color: transparent;
	color: #a8a8a8;
	width: 90%;
	margin: auto auto;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.span_1_of_3 {
	width: 32.26%;
	margin: auto auto;
}

.span_1_of_4 {
	width: 23.8%;
	font-family: Avenir Light;
	background-color: #fff;
	color: #292929;
	padding: 10px 0 10px 0; 
}

.span_1_of_4:hover {
	width: 23.8%;
	font-family: Avenir Light;
	background-color: #fff;
	color: #292929;
	padding: 10px 0 10px 0;
	background-color: #ff0909;
	cursor: pointer;
	color: #fff;
}

.span_1_of_5 {
	width: 18.72%;
	font-family: Avenir Light;
	background-color: #fff;
	color: #292929;
	padding: 10px 0 10px 0; 
}

.span_1_of_5:hover {
	background-color: #ff0909;
	cursor: pointer;
	color: #fff;
}

footer {
	height: auto;
	padding: 50px;
	font-size: 2em;
	line-height: 1em;
	background-color: #292929;
	color: #a8a8a8;
	border: none;
	margin: 0;
	font-family: Avenir Light;
}

footer img {
	height: 50px;
	margin: 0 0 0 25px;
	padding: 0;
	image-rendering: -webkit-optimize-contrast
}

p.footer {
	font-size: 0.5em;
	line-height: 1em !important;
	font-weight: 100;
	margin: 0 0 0 25px;
}

p.f-middle {
	font-size: 0.5em;
	line-height: 1em !important;
	font-weight: 100;
	margin: 0 0 0 25px;
	text-align: center;
}

span.follow {
	padding: 0;
	font-size: 1em;
	line-height: 1em;
	margin: 0 0 0 25px;
	float: right;
}

footer ul {
	padding: 0;
    line-height: 0.5em;
    font-size: 1em;
    margin: 0 0 0 25px;
    float: right;
    text-align: right;
    color: #fff;
    text-decoration: none;
}

footer .fa {
	color: #a8a8a8;
	text-decoration: none;
}

.fa-twitter-square:hover {
	color: #1da1f2;
}

.fa-youtube-square:hover {
	color: #cc181e;
}

.fa-facebook-square:hover {
	color: #4267b2;
}

.fa-reddit-square:hover {
	color: #ff4006;
}


/* Mobile */
@media screen and (max-width: 736px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_3,.span_1_of_5 { width: 100%; }
	.span_1_of_5 {
		text-transform: uppercase;
		font-family: AvenirNext Bold;
	}

	#bar {
		height: 1em;
		padding: 0.2em;
		font-size: 3.5em;
		line-height: 1em;
		background-color: #fff;
		color: #000;
		border: none;
	}

	#menu {
		width: 100%;
		margin: auto auto;
		background-color: #292929;
		text-align: center;
		padding: 10px 0 10px 0;
	}

	.logo {
    	content:url("../img/logo.png");
  	}

  	.page-logo {
  		content:url("../img/logo2.png");
	}

	#logo {
		float: left;
		display: inline-block;
		position: absolute;
		z-index: 11;
	}
	
	#logo img {
		height: 3em;
		padding: 0 0.2em 0.2em 0.2em;
		margin-left: 0;
		background-color: #fff;
		border-radius: 3px;
		image-rendering: -webkit-optimize-contrast;
	}

	#logo img.page-logo {
		height: 1em;
		padding: 0 0.2em 0.2em 0.2em;
		margin-left: 0;
		background-color: #fff;
		border-radius: 3px;
		image-rendering: -webkit-optimize-contrast;
	}

	.menu-open {
		content:url("../img/logo2.png");
	}

	#logo img.menu-open {
		height: 1em;
		padding: 0 0.2em 0.2em 0.2em;
		margin-left: 0;
		background-color: #fff;
		border-radius: 3px;
		image-rendering: -webkit-optimize-contrast;
	}

	#ham-toggle {
		display: inline-block;
		float: right;
		padding-right: 0.2em !important;
	}

	#banner {
		height: 60vh;
		width: 100%;
		display: block;
  		position: relative;
	}

	#b-underlay {
		font-size: 1.8em;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 30vh;
		color: transparent;
		z-index: 9;
		position: absolute;
		text-align: center;
		font-family: Roboto, sans-serif;
    	font-weight: 700;
		background-color: #000;
		opacity: 0.7;
		padding: 1.5em 0 1.4em 0;
	}

	#b-title {
		font-size: 1.8em;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 30vh;
		color: #fff;
		z-index: 10;
		position: absolute;
		text-align: center;
		font-family: Roboto, sans-serif;
    	font-weight: 700;
		text-shadow: 0px 0px 15px #000;
		padding: 1em 0 1em 0;
	}
	
	#b-sub {
		font-size: 0.8em;
		vertical-align: text-top;
	}

	#read {
		font-size: 0.5em;
		vertical-align: text-bottom;
	}

	#overlay {
		height: 60vh;
		width: 100%;
		background-image: url("../img/overlay.png");
		opacity: 0.4;
    	top: 0;
    	left: 0;
    	position: absolute;
	}

	#first {
		width: 70vw;
		background-color: #fff;
		margin: 5vw auto 5vw auto;
		padding: 0 10vw 5vw 10vw;
	}

	#article-page.closed {
		width: 90%;
		background-color: #fff;
		margin: 9em auto 9em auto;
		padding: 5%;
	}

	#article-page.open_page {
		width: 90%;
		background-color: #fff;
		margin: 0 auto 9em auto;
		padding: 5%;
	}


	#section-title {
		text-align: center;
		font-size: 2em;
		padding: 1em 0 0.5em 0;
		font-family: AvenirNext Bold;
		font-weight: 700;
	}

	#article-title {
		text-align: left;
		font-size: 2em;
		padding: 1em 0 0.5em 0;
		font-family: AvenirNext Bold;
		font-weight: 700;
	}

	#article-image {
		max-width: 112%;
		margin-left: -6%;
	}

	#image-credit {
		padding-left: 5%;
	}

	p.article {
		font-size: 1em;
		font-family: Avenir Light;
		text-align: center;
	}

	footer {
		padding: 0;
		font-size: 2.5em;
		line-height: 2.5em;
		background-color: #292929;
		color: #a8a8a8;
		border: none;
		margin: 0;
		font-family: Avenir Light;
	}

	.section {
		clear: both;
		padding: 0px;
		margin: 0px;
		background-color: #292929;
		color: #a8a8a8;
		width: 100%;
		margin: auto auto;
	}

	footer img {
		height: 1em;
		margin-left: 20px;
		margin-top: 1.2em;
		margin-bottom: 0;
		padding: 0;
		image-rendering: -webkit-optimize-contrast
	}

	p.footer {
		width: 90vw;
		font-size: 0.3em;
		line-height: 1em !important;
		margin-left: 20px;
		padding: 0;
		margin-top: -2em;
		font-weight: 100;
	}
	p.f-middle {
		text-align: left;
	}

	span.follow {
		display: none;
	}
	
	footer ul {
		margin-top: -2em;
	    float: left;
	}
}	